<% title 'Account' %>

<section id='account'>
  <header>
    <h1 class='col-sm-offset-2'>Account</h1>
  </header>

  <% if @user.errors.any? %>
    <div class='alert alert-danger'>
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited your changes from being saved:</h4>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @user, html: { class: 'form-horizontal' } do |f| %>
    <div class="form-group">
      <%= f.label :email, 'Email', class: 'col-sm-2 control-label' %>
      <div class='col-sm-3'>
        <%= f.email_field :email, class: 'form-control', placeholder: 'email' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, 'Password', class: 'col-sm-2 control-label' %>
      <div class='col-sm-3'>
        <%= f.password_field :password, placeholder: 'password', class: 'form-control' %>
      </div>
      <p class='help-block'><span class='glyphicon glyphicon-info-sign'></span> Passwords left blank will not be modified.</p>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, 'Confirm password', class: 'col-sm-2 control-label' %>
      <div class='col-sm-3'>
        <%= f.password_field :password_confirmation, placeholder: 'password', class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :bank_id, 'Bank', class: 'col-sm-2 control-label' %>
      <div class='col-sm-3'>
        <%= f.select :bank_id, @bank_options, {}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :bank_username, 'Bank username', class: 'col-sm-2 control-label' %>
      <div class='col-sm-3'>
        <%= f.text_field :bank_username, placeholder: 'username', class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :bank_password, 'Bank password', class: 'col-sm-2 control-label' %>
      <div class='col-sm-3'>
        <%= f.password_field :bank_password, placeholder: 'password', class: 'form-control' %>
      </div>
      <p class='help-block'><span class='glyphicon glyphicon-info-sign'></span> Passwords left blank will not be modified.</p>
    </div>
    <div class="form-group">
      <%= f.label :bank_account_id, 'Bank Account ID', class: 'col-sm-2 control-label' %>
      <div class='col-sm-3'>
        <%= f.text_field :bank_account_id, placeholder: 'bank account id', class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :bank_secret_questions, 'Bank secret questions', class: 'col-sm-2 control-label' %>
      <div class='questions col-sm-10'>

        <% if @user.bank_secret_questions.present? %>
          <% @user.bank_secret_questions.each_with_index do |question_answer, index| %>
            <div class='row margin-below'>
              <div class='col-sm-4'>
                <%= text_field_tag "question[#{index}]", question_answer[0], placeholder: "Question", class: 'form-control' %>
              </div>
              <div class='col-sm-3'>
                <%= text_field_tag "answer[#{index}]", question_answer[1], placeholder: "Answer", class: 'form-control' %>
              </div>
              <button class='destroy btn btn-link' title='Remove this question and its answer'><span class='glyphicon glyphicon-trash'></span></button>
            </div>
          <% end %>
        <% end %>

        <button type='button' class='btn btn-default new'><span class='glyphicon glyphicon-plus'></span> New Question</button>
      </div>

    </div>
    <div class="form-group">
      <%= f.label :api_token, 'API Token', class: 'col-sm-2 control-label' %>
      <div class='col-sm-3'>
        <p class='form-control-static'>
          <%= @user.api_token || "<none>" %>
        </p>
      </div>
    </div>
    <div class="form-group">
      <div class='col-sm-offset-2 col-sm-3'>
        <% if current_user.bank_id.present? && current_user.bank_username.present? %>
          <%= link_to "Import transactions", 'javascript:void(0)', class: 'import', data: { toggle: "modal", target: "#import-modal", keyboard: 'false', backdrop: 'static' } %>
        <% end %>
        <%=raw "<small id='last_imported'>(imported #{time_ago_in_words(@user.imported_transactions_at)} ago)</small>" unless @user.imported_transactions_at.nil? %>
      </div>
    </div>
    <div class="form-group">
      <div class='col-sm-offset-2 col-sm-3'>
        <%= f.submit "Save", class: 'btn btn-primary' %>
      </div>
    </div>

  <% end %>

  <script id='questions_template' type='template'>
    <div class='row margin-below'>
      <div class='col-sm-4'>
        <%= text_field_tag "question[index]", nil, placeholder: "Question", class: 'form-control' %>
      </div>
      <div class='col-sm-3'>
        <%= text_field_tag "answer[index]", nil, placeholder: "Answer", class: 'form-control' %>
      </div>
      <button class='destroy btn btn-link' title='Remove this question and its answer'><span class='glyphicon glyphicon-trash'></span></button>
    </div>
  </script>
</section>

<div class="modal fade" id="import-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Import Transactions</h4>
      </div>
      <div class="modal-body text-center">
        <%# Filled via javascript %>
      </div>
      <div class="modal-footer hidden">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
