<% title 'Account' %>

<section id='account'>
  <header>
    <h1>Account</h1>
  </header>
  
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited your changes from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_for @user do |f| %>
    <div class="field">
      <%= f.label :email, 'Email:' %>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label :password, 'Password:' %>
      <%= f.password_field :password, placeholder: 'password' %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, 'Confirm password:' %>
      <%= f.password_field :password_confirmation, placeholder: 'password' %>
    </div>
    <div class="field">
      <%= f.label :bank_id, 'Bank:' %>
      <%= f.select :bank_id, @bank_options %>
    </div>
    <div class="field">
      <%= f.label :bank_username, 'Bank username:' %>
      <%= f.text_field :bank_username, placeholder: 'username' %>
    </div>
    <div class="field">
      <%= f.label :bank_password, 'Bank password:' %>
      <%= f.password_field :bank_password, placeholder: 'password' %>
    </div>
    <div class="field multi-line">
      <%= f.label :bank_secret_questions, 'Bank secret questions:' %>
      <ul class='questions'>

        <% if @user.bank_secret_questions.present? %>
          <% @user.bank_secret_questions.each_with_index do |question_answer, index| %>
            <li>
              <%= text_field_tag "question[#{index}]", question_answer[0], placeholder: "Question" %>
              <%= text_field_tag "answer[#{index}]", question_answer[1], placeholder: "Answer" %>
              <button class='destroy image-only' title='Remove this question and its answer' ></button>
            </li>
          <% end %>
        <% end %>

        <li><button class='new'>New Question</button></li>
      </ul>

    </div>
    <p><small>Note: Passwords left blank will not be modified.</small></p>
    <div class="field">
      <%= f.submit "Save", class: 'primary' %>
    </div>
  <% end %>
  
  <script id='questions_template' type='template'>
    <li>
      <%= text_field_tag "question[index]", nil, placeholder: "Question" %>
      <%= text_field_tag "answer[index]", nil, placeholder: "Answer" %>
      <button href='javascript:void(0)' class='destroy' title='Remove this question and its answer' ></button>
    </li>
  </script>
</section>