<li>
  <a href='<%= envelope_path(envelope) %>'>
    <span class='amount <%= 'negative-number' if envelope.total_amount < 0 %>'><%= number_to_currency(envelope.inclusive_total_amount(organized_envelopes)) %></span>
    <span class='name' title="<%= envelope.name %>"><%= envelope.name %></span>
  </a>
  <% unless organized_envelopes[envelope.id].empty? %>
    <ul class='list-unstyled'>
      <%= render partial: 'envelope', collection: organized_envelopes[envelope.id], as: :envelope, locals: {organized_envelopes: organized_envelopes} %>
    </ul>
  <% end %>
</li>
