<li>
  <table>
    <tr>
      <td class='name'>
        <% if organized_envelopes[envelope.id].empty? %>
          <span class='image-only-spacer'></span>
        <% else %>
          <button class='collapse image-only' title='Expand'></button>
        <% end %>
        <%= envelope.name %>
        <button class='info image-only' title='More information on this envelope'></button>
      </td>
      <td class='amount balance'><%= number_to_currency(envelope.inclusive_total_amount(organized_envelopes)) %></td>
      <td class='amount budget'><%= number_to_currency(envelope.expense.try(:amount) || 0) %></td>
      <td class='amount to-fund'><%= number_to_currency(envelope.amount_funded_this_month) %></td>
      <% if organized_envelopes[envelope.id].empty? %>
        <td class='amount input'>
          <%= text_field_tag "fill_envelope_#{envelope.id}", number_to_currency(0) %>
        </td>
      <% else %>
        <td class='amount sum'><%= number_to_currency(0) %></td>
      <% end %>
    </tr>
  </table>
  <% unless organized_envelopes[envelope.id].empty? %>
    <ul>
      <%= render partial: 'envelope_for_fill', collection: organized_envelopes[envelope.id], as: :envelope, locals: {organized_envelopes: organized_envelopes} %>
    </ul>
  <% end %>
</li>