<%= fields_for "envelope[]", envelope do |f| %>
  <li<%= cycle("", " class='alt'") %> data-envelope-id='<%= envelope.id %>'>
    <table>
      <tr>
        <td class='name indent-<%= indent %>'><%= f.text_field :name, 'data-saved-value' => envelope.name %></td>
        <td class='rule-actions'><button class='destroy image-only' title='Remove this rule'></button></td>
      </tr>
    </table>
  </li>
<% end %>

<%= render partial: 'envelopes/envelope_for_edit', collection: organized_envelopes[envelope.id], as: :envelope, locals: {indent: indent + 1, organized_envelopes: organized_envelopes} %>

