<% title 'Dashboard' %>

<section id='dashboard'>
  <header>
    <h1>Dashboard</h1>
    <small><a href='#' class='manage button'>Manage</a></small>
  </header>
  
  <ul>
    <li class='system'>
      <ul>
        <% @organized_envelopes['sys'].each do |envelope| %>
          <li>
            <a href='<%= envelope_path(envelope) %>'>
              <span class='amount'><%= number_to_currency(envelope.total_amount) %></span>
              <span class='name' title="<%= envelope.name %>"><%= envelope.name %></span>
            </a>
          </li>
        <% end %>
      </ul>
    </li>
    <%= render partial: 'envelope', collection: @organized_envelopes[nil], as: :envelope, locals: {organized_envelopes: @organized_envelopes} %>
  </ul>
</section>
