<% title 'Manage Envelopes' %>

<section id='manage_envelopes'>
  <header>
    <h1>Manage Envelopes</h1>
  </header>
  
  <table>
    <tr>
      <th class='name'><div>Name</div></th>
      <th class='expense-amount'><div>Amount</div></th>
      <th class='expense-frequency'><div>Frequency</div></th>
      <th class='envelope-actions'></th>
    </tr>
  </table>
  <ul>
    <%= render partial: 'envelopes/envelope_for_edit', collection: @organized_envelopes[nil], as: :envelope, locals: {indent: 0, organized_envelopes: @organized_envelopes} %>
  </ul>
  <p class='autosave-status'></p>
</section>

<section id='envelopes_aside'>
  <ul class='actions'>
    <li><a href='javascript:void(0)' class='button new'>New Envelope</a></li>
  </ul>
  <table>
    <tr>
      <th>Total Budgeted</th>
      <td class='amount budgeted'></td>
    </tr>
  </table>
</section>

<script id='new_envelope_modal' type='template'>
  <div class='loading'></div>
  <h1>New Envelope</h1>
  <%= form_for @new_envelope do |f| %>
    <div class="field">
      <%= f.label :name, 'Name' %>
      <%= f.text_field :name, placeholder: 'Groceries' %>
    </div>
    <div class="field">
      <%= f.label :parent_envelope_id, 'Parent Envelope' %>
      <%= f.select :parent_envelope_id, @envelope_options_for_create_select %>
    </div>
    <small>Note: If the parent envelope has transactions, its transactions will be moved into this new envelope</small>
    <div class='actions'>
      <a href='javascript:void(0)'>Cancel</a>
      <%= f.submit 'Save', class: 'primary' %>
    </div>
  <% end %>
</script>

<script id='destroy_envelope_modal' type='template'>
  <h1>Delete Envelope</h1>
  <%= form_for @new_envelope, method: :delete do |f| %>
    <div>
      Are you sure you want to delete the envelope: <span id='destroy_envelope_name'></span>?
    </div>
    <div class="field">
      <%= label_tag :destination_envelope_id, 'Move transactions to' %>
      <%= select_tag :destination_envelope_id, options_for_select(@envelopes_with_transactions) %>
    </div>
    <div class='actions'>
      <a href='javascript:void(0)'>Cancel</a>
      <%= f.submit 'Delete', class: 'primary' %>
    </div>
  <% end %>
</script>

