<% title @envelope.full_name(@all_envelopes) %>

<section id='sidebar'>
  <nav>
    <ul>
      <%= render partial: 'envelope', collection: @organized_envelopes[nil], as: :envelope, locals: {organized_envelopes: @organized_envelopes} %>
    </ul>
  </nav>
</section>
<section id='envelope_details'>
  <header>
    <h1>
      <%= @envelope.full_name(@all_envelopes) %>
      <span style='float:right;' class='<%= @envelope.total_amount < 0 ? "negative" : "positive" %>-number'>
        <%= number_to_currency(@envelope.inclusive_total_amount(@organized_envelopes)) %>
      </span>
    </h1>
  </header>

  
  <%= render partial: 'transactions/list_transactions', locals: { start_date: @start_date, end_date: @end_date, envelope: @envelope, transactions: @transactions } %>

</section>
<section id='envelope_aside'>
  <ul class='actions'>
    <li><a href='#' class='button transfer'>Transfer Money</a></li>
  </ul>
</section>
