<section id='sidebar'>
  <nav>
    <ul>
      <%= render partial: 'envelope', collection: @organized_envelopes[nil], as: :envelope, locals: {organized_envelopes: @organized_envelopes} %>
    </ul>
  </nav>
</section>
<section id='envelope-details'>
  <header>
    <h1>
      <%= @envelope.full_name(@all_envelopes) %>
      <span style='float:right;' class='<%= @envelope.total_amount < 0 ? "negative" : "positive" %>-number'>
        <%= number_to_currency(@envelope.inclusive_total_amount(@organized_envelopes)) %>
      </span>
    </h1>
  </header>
  <div id='date-range-picker'>
    <div class='current'>Nov 20, 2011 - Dec 20, 2011</div>
    <div class='popup'>
      <div class='start'></div>
      <div class='end'></div>
    </div>
  </div>
  <table class='transactions'>
    <%= render @transactions %>
  </table>
</section>
<section id='envelope-aside'>
  <ul class='actions'>
    <li><a href='#' class='button transfer'>Transfer Money</a></li>
  </ul>
</section>
