# Place all the behaviors and hooks related to the matching controller here.
<% url = Envelopes::Application.routes.url_helpers %>

setCurrentDateRange = ->
  startDate = $('#date_range_picker .start').datepicker('getDate')
  endDate = $('#date_range_picker .end').datepicker('getDate')
  $('#date_range_picker .start').datepicker("option", "maxDate", endDate)
  $('#date_range_picker .end').datepicker("option", "minDate", startDate)

  startDateText = $.datepicker.formatDate 'M d, yy', startDate
  endDateText = $.datepicker.formatDate 'M d, yy', endDate
  $('#date_range_picker .current').text(startDateText + " - " + endDateText)

cancelDatePicker = (event) ->
  if $('#date_range_picker .popup').is(':visible')
    $('#date_range_picker .popup').hide()
    $('#date_range_picker .start').datepicker('setDate', $('#date_range_picker .start').data('initialDate'))
    $('#date_range_picker .end').datepicker('setDate', $('#date_range_picker .end').data('initialDate'))
    setCurrentDateRange()

@setupTransactionsList = ->
  if $('#date_range_picker').length > 0
    $('#date_range_picker').click (event) ->
      event.stopPropagation()
      $(this).children('.popup').show()

    $('html').click cancelDatePicker
    $('#date_range_picker .actions a').click (event) ->
      event.preventDefault()
      event.stopPropagation()
      cancelDatePicker()

    $('#date_range_picker .start').datepicker
      onSelect: setCurrentDateRange
      dateFormat: 'yy-mm-dd'
      altField: '#start_date'
      defaultDate: $('#date_range_picker .start').data('initialDate')
    $('#date_range_picker .end').datepicker
      onSelect: setCurrentDateRange
      dateFormat: 'yy-mm-dd'
      altField: '#end_date'
      defaultDate: $('#date_range_picker .end').data('initialDate')
    setCurrentDateRange()

  if $('#transactions_list').length > 0
    $('select').selectToAutocomplete()

    $('#transactions_list input').selectOnFocus()

    $('#transactions_list .payee input').autocomplete
      source: "<%= CGI.unescape url.suggest_payee_transactions_path %>"
      minLength: 2

    $('#update_all_transactions')
      .on('ajax:beforeSend', ->
        cancelDatePicker()
        $('#update_all_transactions .loading-overlay').css('opacity', 0.7).show()
      ).on('ajax:error', (event, xhr, status, error) ->
        showAlert error
        $('#update_all_transactions .loading-overlay').hide()
      )


###
# On DOM Ready
###

$ ->
  $('#dashboard > ul').masonry
    itemSelector: '#dashboard > ul > li',
    columnWidth: 250,
    gutterWidth: 40,
    isAnimated: true

  ###
  # Show envelope
  ###

  setupTransactionsList()

  autosave '#envelope_details', 'blur', '.payee input, .amount input', "<%= CGI.unescape url.transaction_path('{id}') %>"
  autosave '#envelope_details', 'change', 'select', "<%= CGI.unescape url.transaction_path('{id}') %>"

  $('#envelope_details').on 'blur', '.amount input', ->
    $this = $(this)
    associated_transaction = $('#transaction_' + $this.data('associated-transaction-id'))
    if associated_transaction.length > 0
      newAmount = parseFloat($this.val().replace(/[^-.0-9]/g, "")) * -1
      associated_transaction.find('.amount input').val(newAmount.toFixed(2).replace /([.0-9]+)/g, "$$$1")

  $('#envelope_aside .transfer').click ->
    modal = showModal
      content: '#transfer_modal'
      width: 510
      className: 'transfer-modal'

    modal.find('form').on('ajax:beforeSend', ->
      modal.find('.loading').show()
    ).on('ajax:error', (event, xhr, status, error) ->
      showAlert error
      modal.find('.loading').hide()
    )

    modal.find('select').selectToAutocomplete()
    modal.find('input[type=text], input:not([type])]').selectOnFocus()
    modal.find('a').click ->
      hideModal()

  graph_container = $('.graph-monthly-spending')
  if graph_container.length > 0
    # Put the budget line in the right place
    budget_line = $('.budget-line', graph_container)
    budget_line.css
      left: graph_container.find('th').outerWidth() + graph_container.find('td').width() * budget_line.data('percent') / 100
    # Put the budget amount in a suitable place
    budget_amount = $('.budget-amount', graph_container)
    tmp_left = parseInt(budget_line.css('left')) - budget_amount.outerWidth() / 2
    tmp_left = 0 if tmp_left < 0 # Make sure it's not off left left end
    max_left = graph_container.outerWidth() - budget_amount.outerWidth()
    tmp_left = max_left if tmp_left > max_left # Make sure it's not off right left end
    budget_amount.css
      left: tmp_left


  ###
  # Manage Envelopes
  ###

  $('#manage_envelopes input[type=text], input:not([type])]').selectOnFocus()
  $('#envelopes_aside .new').click ->
    modal = showModal
      content: '#new_envelope_modal'
      width: 520
      className: 'new-envelope-modal'

    # modal.find('form').on('ajax:beforeSend', ->
    #   modal.find('.loading').show()
    # ).on('ajax:success', (event, data, status, xhr) ->
    #   #modal.find('.loading').hide()
    #   hideModal()
    # ).on('ajax:error', (event, xhr, status, error) ->
    #   try
    #     errors = $.parseJSON(xhr.responseText)
    #     errorMessage = "The envelope wasn't saved!<ul>"
    #     for errorField of errors
    #       errorMessage += "<li>" + errorField + " " + errors[errorField].join(' and ') + "</li>"
    #     errorMessage += "</ul>"
    #   catch ex
    #     errorMessage = xhr.responseText
    #
    #   showAlert errorMessage
    #   modal.find('.loading').hide()
    # )

    modal.find('select').selectToAutocomplete
      'remove-valueless-options': false
    modal.find('input[type=text], input:not([type])]').selectOnFocus()
    modal.find('a').on 'click', ->
      hideModal()

  autosave '#manage_envelopes', 'blur', 'input, select', "<%= CGI.unescape url.envelope_path('{id}') %>"

  $('#manage_envelopes .destroy').click ->
    $this = $(this)
    modal = showModal
      content: '#destroy_envelope_modal'
      width: 520
      className: 'destroy-envelope-modal'

    $envelope_parent = $this.closest('li')
    envelope_id = $envelope_parent.data('envelope-id')
    envelope_name = $envelope_parent.find('.name input').val()

    modal.find('form').attr('action', '<%= CGI.unescape url.envelope_path("{id}") %>'.replace("{id}", envelope_id))
    modal.find('#destroy_envelope_name').text envelope_name
    modal.find('select').selectToAutocomplete()
    modal.find('input[type=text], input:not([type])]').selectOnFocus()
    modal.find('a').on 'click', ->
      hideModal()


  $('td.expense-frequency div').popover
    placement: 'bottom'
    trigger: 'manual'
    title: 'Edit Frequency'
  .click (event) ->
    event.stopPropagation()
    $this = $(this)
    $('td.expense-frequency div').popover 'hide'
    $this.popover 'show'
    $('.popover a').click ->
      $this.popover 'hide'
  if $('td.expense-frequency div').length > 0
    $(document).click ->
      $('td.expense-frequency div').popover 'hide'

  $('.envelope .amount input').keyup ->
    monthly_amount = 0

    $('.envelope .amount input').each (i, item) ->
      $item = $(item)
      amount = getAmount $item.val()
      frequency_text = $item.closest('tr').find('.expense-frequency div').text()
      if frequency_text.indexOf("month") == -1
        monthly_amount += amount / 12
      else
        monthly_amount += amount

    $('#envelopes_aside .budgeted').text numberToCurrency(monthly_amount)

  $('.envelope .amount input').trigger('keyup')

  ###
  # Fill Envelopes
  ###

  $('#fill_envelopes input[type=text]')
    .selectOnFocus()
    .on 'keyup', ->
      $this = $(this)

      total = 0
      parent = $this.parent().closest('ul')
      parent.find('input').each (index, item) ->
        total += getAmount(item.value) || 0
      parent.prev().find('.sum').text(numberToCurrency(total))

      total = 0
      grandParent = parent.parent().closest('ul')
      grandParent.find('input').each (index, item) ->
        total += getAmount(item.value) || 0
      grandParent.prev().find('.sum').text(numberToCurrency(total))

      total = 0
      $('#fill_envelopes input[type=text]').each (index, item) ->
        total += getAmount(item.value) || 0
      totalAllocation = numberToCurrency(total * -1)
      totalAllocation = "-" + totalAllocation if total == 0
      totalAllocation = "+" + totalAllocation if total < 0
      $('#fill_aside .allocation').text(totalAllocation)
      available = getAmount $('#fill_aside .available').text()
      $('#fill_aside .remaining').text numberToCurrency(available - total)


  $('#fill_envelopes .expand, #fill_envelopes .collapse').click (event) ->
    event.preventDefault()
    $this = $(this)
    childEnvelopes = $this.closest('li').children('ul')
    childEnvelopes.slideToggle ->
      if childEnvelopes.is ':visible'
        $this.removeClass('expand').addClass('collapse')
      else
        $this.removeClass('collapse').addClass('expand')

