<%= form_tag update_all_transactions_path, id: 'update_all_transactions', method: :put, remote: true do %>
  <div class='loading-overlay'></div>
  <%= hidden_field_tag 'envelope_id', envelope.id %>
  <div id='date_range_picker'>
    <%= hidden_field_tag 'start_date', start_date %>
    <%= hidden_field_tag 'end_date', end_date %>
    <div class='current'><%= start_date.strftime("%b %e, %Y") %> - <%= end_date.strftime("%b %e, %Y") %></div>
    <div class='popup'>
      <div>
        <div class='start' data-initial-date='<%= start_date %>'></div>
        <div class='end' data-initial-date='<%= end_date %>'></div>
      </div>
      <div class='options'>
        <%= check_box_tag :show_transfers, 1, show_transfers %>
        <%= label_tag :show_transfers, 'Show envelope transfers' %>
      </div>
      <div class='actions'>
        <a href='javascript:void(0)'>Cancel</a>
        <button class='primary'>Filter</button>
      </div>
    </div>
  </div>
  <table id='transactions_list'>
    <%= render partial: 'transactions/transaction', collection: transactions, locals: {envelope_options_for_select: envelope_options_for_select} %>
  </table>
  <p class='autosave-status'></p>
<% end %>