<% title 'Rules' %>

<section id='rules'>
  <header>
    <h1>Rules</h1>
  </header>
  
  <table>
    <tr>
      <th class='search-text'><div>Search Text</div></th>
      <th class='replacement-text'><div>Replacement Text</div></th>
      <th class='envelope'><div>Envelope</div></th>
      <th class='rule-actions'></th>
    </tr>
  </table>
  <ul>
    <%= render partial: 'rules/rule', collection: @rules, locals: {envelope_options_for_select: @envelope_options_for_select} %>
  </ul>
  <p class='autosave-status'></p>
</section>

<section id='rules_aside'>
  <ul class='actions'>
    <li><a href='javascript:void(0)' class='button new'>New Rule</a></li>
  </ul>
</section>

<script id='new_rule_modal' type='template'>
  <div class='loading'></div>
  <h1>New Rule</h1>
  <%= form_for @new_rule, remote: true do |f| %>
    <%= f.hidden_field :order %>
    <div class="field">
      <%= f.label :search_text, 'Search text:' %>
      <%= f.text_field :search_text, placeholder: 'WALMART' %>
    </div>
    <div class="field">
      <%= f.label :replacement_text, 'Replacement text:' %>
      <%= f.text_field :replacement_text, placeholder: 'Wal-Mart' %>
    </div>
    <div class="field amount">
      <%= f.label :envelope_id, 'Envelope:' %>
      <%= f.select :envelope_id, @envelope_options_for_select %>
    </div>
    <div class='actions'>
      <a href='javascript:void(0)'>Cancel</a>
      <%= f.submit 'Save', class: 'primary' %>
    </div>
  <% end %>
</script>