<% title 'Rules' %>

<div class='row'>
  <section id='rules' class='col-sm-10'>
    <header>
      <h1>Rules</h1>
    </header>

    <div class='col-sm-12'>
      <div class='row'>
        <% if @rules.size > 0 %>
          <table>
            <tr>
              <th class='search-text col-sm-4'>Search Text</th>
              <th class='replacement-text col-sm-4'>Replacement Text</th>
              <th class='envelope col-sm-4'>Envelope</th>
              <th class='rule-actions'></th>
            </tr>
          </table>
          <ul class='list-unstyled'>
            <%= render partial: 'rules/rule', collection: @rules, locals: {envelope_options_for_select: @envelope_options_for_select} %>
          </ul>
          <p class='autosave-status'></p>
        <% else %>
          <span class='status'>You don't have any rules yet.</span>
        <% end %>
      </div>
    </div>
  </section>

  <section id='rules_aside' class='col-sm-2'>
    <ul class='actions list-unstyled'>
      <li><a class='btn btn-primary new' data-toggle="modal" data-target="#new-rule-modal">New Rule</a></li>
      <li><%= link_to 'Run Rules Now', run_all_rules_path, method: :post, remote: true, class: 'btn btn-primary transfer', title: 'Run the rules on any currently unassigned transactions' %></li>
    </ul>
  </section>
</div>


<div class="modal fade" id='new-rule-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for @new_rule, remote: true do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">New Rule</h4>
        </div>
        <div class="modal-body">
          <%= f.hidden_field :order %>
          <div class="form-group">
            <%= f.label :search_text, 'Search text:' %>
            <%= f.text_field :search_text, placeholder: 'WAL-MART', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :replacement_text, 'Replacement text:' %>
            <%= f.text_field :replacement_text, placeholder: 'Walmart', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :envelope_id, 'Envelope:' %>
            <%= f.select :envelope_id, @envelope_options_for_select, {}, class: 'form-control' %>
          </div>
        </div>
        <div class="modal-footer">
          <div class='loading'></div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Save', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

