<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) + ' | ' if content_for?(:title)  %>Envelopes</title>
  <!-- Mobile-specific tags -->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black"> <!-- default, black, or black-translucent -->
  <!--link rel="apple-touch-icon" href="apple-touch-icon-57x57.png" /> or apple-touch-icon-57x57-precomposed.png for no gloss
  <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72" />
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114" /-->

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:light,regular&amp;v1" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js" %>
  <!--[if lt IE 10]>
  <![endif]-->
  <%= javascript_include_tag "application", async: true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <nav id='header-nav'>
    <ul class='account-nav'>
      <li><%= current_user.email %></li>
      <li><%= link_to 'logout', logout_url %></li>
    </ul>
    <ul class='main-nav'>
      <li id='logo'>
        <%= link_to root_url do %>
          <h1>Envelopes</h1>
        <% end %>
      </li>
      <li><%= link_to 'Dashboard', root_url %></li>
      <li><%= link_to 'Fill Envelopes' %></li>
      <li><%= link_to 'Rules' %></li>
    </ul>
  </nav>
<% end %>

<% if flash[:notice] %>
  <div class='flash notice'><div><%= flash.notice %></div></div>
<% end %>
<% if flash[:alert] %>
  <div class='flash alert'><div><%= flash.alert %></div></div>
<% end %>

<div id='page'>
<%= yield %>
</div>

</body>
</html>
