<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= yield(:title) + ' | ' if content_for?(:title)  %>Envelopes</title>
  <%= yield(:mobile_head) if content_for?(:mobile_head) %>

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css" />

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <header id='header-nav' class='navbar navbar-inverse navbar-static-top'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Envelopes', root_url, class: 'navbar-brand' %>
      </div>

      <nav class='collapse navbar-collapse'>
        <ul class='nav navbar-nav'>
          <li<%= raw(current_page?(root_url) ? " class='active'" : "") %>><%= link_to 'Dashboard', root_url %></li>
          <li<%= raw(current_page?(fill_envelopes_url) ? " class='active'" : "") %>><%= link_to 'Fill Envelopes', fill_envelopes_url %></li>
          <li<%= raw(current_page?(rules_url) ? " class='active'" : "") %>><%= link_to 'Rules', rules_url %></li>
          <li<%= raw(current_page?(manage_envelopes_path) ? " class='active'" : "") %>><%= link_to 'Manage Envelopes', manage_envelopes_path %></li>
        </ul>

        <ul class='nav navbar-nav navbar-right'>
          <li<%= raw(current_page?(edit_user_url(current_user_id)) ? " class='active'" : "") %>><%= link_to current_user.email, edit_user_url(current_user_id) %></li>
          <li><%= link_to 'Log Out', sign_out_url %></li>
        </ul>
      </nav>
    </div>
  </header>
<% end %>

<% if flash[:notice] %>
  <div class='container-fluid'>
    <div class='alert alert-info alert-dismissable'><button type="button" class="close" data-dismiss="alert">&times;</button><div><%= flash.notice %></div></div>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class='container-fluid'>
    <div class='alert alert-danger alert-dismissable'><button type="button" class="close" data-dismiss="alert">&times;</button><div><%= flash.alert %></div></div>
  </div>
<% end %>

<div class='container-fluid clearfix'>
<%= yield %>
</div>

<footer>
  &copy; <%= Date.today.year %> Don Wilson
</footer>

</body>
</html>
